.html {
    width: 50vw;
    height: 250px;
    border: 4px solid #363636;
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.css {
    width: 50vw;
    height: 250px;
    border: 4px solid #8B008B;
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.js {
    width: 50vw;
    height: 250px;
    border: 4px solid #1ab80b;
    display: block;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.html {
    margin-bottom: 1rem;
}
.css {
    margin-bottom: 1rem;
}
.js {
    margin-bottom: 1rem;
}
