* {
    color: aliceblue;
    background-color: black;
}
h1 {
    margin: 1%;
}
p {
    margin: 2rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    width: 90vw;
}
/*/////////////////////////////////////////////////////////*/
.div-block { /* Por padrao o "div" é block */
    width: 170px;
    height: 100px;
    margin: 1rem;
    border: solid red;
    display: block; /* muda o compartamento da propriedade(block passa a ser inline) */
}
.span-inline { /* Por padrao o "span" é inline */
    width: 170px;
    height: 100px;
    margin: 1rem;
    border: solid #2F4F4F;
    display: inline; /* muda o compartamento da propriedade(inline passa a ser block) */
}
/*

**Block**
- Ocupa toda a linha e colocar o proximo elemento abaixo desse.
-- width e heigth são respeitados.
-- padding, margin, border irão funinar normalmente.
Exemplos de BLOCK por PADRAO:
    <p> <div> <section> e todos os <h1> <h2> ...

**Inline**
- Elementos ao lado do outro.
-- width e heidth não funciona.
-- Valores horizontais de margin e padding funciona.
Exemplo de INLINE por PADRAO:
    <a> <strong> <span> <em>

*/
/*/////////////////////////////////////////////////////////*/
.divisor {
    height: 2px;
    display: flex;
    margin: 1rem;
    background-color: #8B008B;
    
}
.exemplos {
    color: gold;
}
pre {
    background-color: black;
    border: 1px solid transparent;
    margin: 1rem;
    padding: 0;
    font-size: 1rem;
    font-family: Times;
    width: 80vw;
    white-space: pre-line;
}
.token-seta-direita {
    color: lime;
    background-color: #363636;
}