
p {
    font-size: 1.5rem;
    color: black;
}
.divisor {
    height: 2px;
    display: flex;
    margin: 1rem;
    background-color: #8B008B;   
}
.caixa-exemplos {
    width: 300px;
    height: 200px;
    border: 2px solid red;
    box-sizing: border-box;
    text-align: center;
}
/*-------------------------------------------------*/
h3 {
    font-size: 1.8rem;
    color: currentColor;
   
}
.caixa-exemplos1 {
    width: 300px;
    height: 200px;
    border: 2px solid red;
    box-sizing: border-box;
    text-align: center;
    color: #8B008B;
    
}
.caixa-exemplos2 {
    width: 300px;
    height: 200px;
    border: 2px solid red;
    box-sizing: border-box;
    text-align: center;
    color: #8B008B40;
}
