/* 
# FLEXBOX
    Atravez da div.parent (pai) adicionando a propriedade (display: flex;)
    podemos utilizar outros propriedade nos elementos dentro dessa caixa:
    ## flex-direction
        - horizontal 
        - vertical
        - row
        - colum (aplica o padrão vertical)
    ## alinhamento
        - justify-content (aplica um espaço entre os elementos)
        - aling-items
*/
body {
    height: 100vh; 
    display: flex;
    margin: 0;
    align-items: center;
}
.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.box {
    width: 100px;
    height: 100px;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}